


#animateLogo {
    position: absolute;
    z-index: 5;
    width: 500px;
    top: 10%;
    left: 50%;
    margin-left: -250px;
    animation: turnIt 1.25s linear 1, shrinkItMobile 1.25s ease-in-out forwards;
}

@keyframes turnIt {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

@keyframes shrinkItMobile {
    0% {
        width: 500px;
        top: 10%;
        left: 50%;
        margin-left: -250px;
        opacity: 1.0;
    }
    95% {
        opacity: 1.0;
    }
    100% {
        width: 150px;
        top: 375px;
        left: 50%;
        margin-left: -75px;
        opacity: 0.0;
    }
}
@keyframes shrinkItDesktop {
    from {
        width: 500px;
        top: 10%;
        left: 50%;
        margin-left: -250px;
    }
    to {
        width: 150px;
        top: 0px;
        left: 50%;
        margin-left: -75px;
    }
}


h3 span {
    display: none;
}

@keyframes revealText {

}
@media only screen and (min-width:768px) {
    #animateLogo {
        animation: turnIt 1.25s linear 1, shrinkItDesktop 1.25s ease-in-out forwards;
    }


}