:root {
    --main-red: #CA5F69;
    --darkest-blue: #272C2F;
    --main-blue: #304D5F;
    --bg-blue: #4A647E;
    --bg-red: rgba(202, 95, 106, 0.5);
    --main-font-family: 'Raleway', sans-serif;
  }
html {
    font-size: 16px;
}  
h1, h2, h4 {
    font-family: var(--main-font-family);
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
} 
h1 {
    font-size: 3rem;
} 
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size; 2.75rem;
}
p {
    font-weight: 400;
}
.lead-in {
    font-weight: 800;
}
  .tag-text {
    font-family: optima, classico-urw, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
  }
.grid-wrap {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
  /* section styles */

.intro-loan-img {
    background-image: url("../images/carrySmIntro.jpg");
    height: 475px;
    width: 100%;
    background-size: cover;
    background-position: 0% 60%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.home-icon {
    width: 170px;
    z-index: 1;
    display: flex;
    align-self: center;
    position: relative;
    top: 375px;


}
