:root {
    --main-red: #CA5F69;
    --darkest-blue: #272C2F;
    --main-blue: #304D5F;
    --bg-blue: rgb(74, 100, 126);
    --bg-red: rgba(202, 95, 106, 0.805);
    --fade-blue: rgba(48, 91, 118, 0.673);
    --fade-blue-lt: rgba(48, 91, 118, 0.413);
    --fade-red: rgba(202, 95, 106, 0.450);
    --main-font-family: 'Raleway', sans-serif;
  }
html {
    font-size: 16px;
    font-family: var(--main-font-family);
    color: var(--darkest-blue);
}
.flex-cc {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
h1, h2, h3, h4 {
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
} 
h1 {
    font-size: 2.75rem;
    color: #fff;
} 
h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    margin: 0;
}
h3 {
    font-size: 2.75rem;
    font-weight: 300;
    color: var(--main-red);
    margin: 2rem 0;
}
h4 {
    font-size: 1.35rem;
    color: var(--bg-blue);
    margin: .75rem 0;
}
p {
    font-weight: 300;
    font-size: 1.35rem;
    line-height: 2;
    padding: 1.5rem;
}
a {
    text-decoration: none;
    color: var(--darkest-blue);
    font-family: optima, classico-urw, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
}
.lead-in {
    font-weight: 800;
}
  .tag-text {
    font-family: optima, classico-urw, sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 1rem 0 0 0;
    padding: 0;
    line-height: 1;
  }
.grid-wrap {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "intro"
    "banner" 
    "loan" 
    "refi"
    "footer";
}
 /* global section images*/
.img-cell {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    box-shadow:0px 2px 5px var(--fade-blue);
}
  /* section styles */
  #desktop-only {
      display: none;
  }
.banner {
    grid-area: banner;
    position: absolute;
    top: 560px;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.spacer {
    height: 345px;
    background-color: #fff;
}

.intro-loan-img {
    background-image: url("../images/carrySmIntro.jpg");
    height: 475px;
    background-position: 68% 0%;
}
.loan-img {
    background-image: url("../images/upLook.jpg");
    height: 290px;
    background-position: 50% 0%;
}
.refi-img {
    background-image: url("../images/planning.jpg");
    height: 380px;
    background-position: 75% 0%;
}
.home-icon {
    width: 170px;
    z-index: 1;
    display: flex;
    align-self: center;
    position: relative;
    top: 375px;
}
.intro .tagline {
    margin-top: 100px;
}
.divide-jump {
    background-color: var(--bg-red);
    padding: .5rem 3rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.triangle-icon {
  width: 0; 
  height: 0; 
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-top: 28px solid #fff;
}
/* loan - refi components shared area */
.loan h1, .refi h1 {
    padding: 1.25rem .5rem;
    width: 100%;
}
/* loan area */
.loan {
    background-color: var(--fade-blue-lt);
    grid-area: loan;
}
.loan h1 {
    background-color: var(--fade-blue);
}
/* refi area */
.refi {
    background-color: var(--fade-red);
    grid-area: refi;
}
.refi h1 {
    background-color: var(--bg-red);
}
/* email form */
.email-form {
    width: 100%;
    max-width: 400px;
}
.email-form .lead-in {
    width: 100%;
    text-align: left;
    padding-bottom: .5rem;
}
.email-form input {
    background-color: #fff;
    height: 3rem;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
}
.email-form button {
    background-color: var(--main-blue);
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    padding: .5rem;
    width: 90%;
    border-radius: 10px;
    margin: 3rem 1rem;
    box-shadow: 2px 2px 5px var(--bg-blue);
    border: none;
}
.refi .email-form button {
    background-color: var(--main-red);
    box-shadow: 2px 2px 5px var(--main-red);
}
/* flex-c-row class changes from column to row in media query */
.flex-c-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    padding: 2rem 1rem;
    grid-area: footer;

}
footer ul {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer ul li {
    padding: 5px 15px;
}
.social-links {
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.social-links img {
    display: flex;
    justify-self: flex-start;
    padding: 10px;
}

@media only screen and (min-width:768px) {
   
    .grid-wrap {
        
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 200px;
        grid-template-areas: 
        "loan refi"
        "loan refi"
        "footer footer";
    }
    #desktop-only {
        display: block;
        position: absolute;
        z-index: 2;
        top: -50px;
        left: 50%;
        margin-left: -85px;
        
    }
    .banner {
        top: 360px;
        padding-top: 1rem;
    }
    .intro {
        display: none;
    }
    .loan {
        border-right: 5px solid var(--main-red);
    }
    .loan-img {
        height: 380px;
    }
    .img-cell {
        margin-bottom: 200px;
    }
    .flex-c-row {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    footer {
        height: 240px;
        padding: 2rem 3rem;
    }
    footer .tag-text {
        display: none;
    }

    footer ul  {
        /*width: 50%;*/
    }
    .social-links {
        width: 10%;
    }
    /*change order of footer items*/
    footer ul:nth-of-type(1) {
        order: 2;
    }
    footer img:nth-of-type(1) {
        order: 1;
    }
    footer div:nth-of-type(1) {
        order: 4;
    }
    .loan h1, .refi h1 {
        position: relative;
        top: 10%;
        width: 75%;
    }
}

@media only screen and (min-width:1000px) {
 footer ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }
}