:root {
    --main-red: #b33641;
    --darkest-blue: #272C2F;
    --main-blue: #304D5F;
    --bg-blue: rgb(74, 100, 126);
    --bg-red: rgba(202, 95, 106, 0.805);
    --fade-blue: rgba(48, 91, 118, 0.673);
    --fade-blue-lt: rgba(48, 91, 118, 0.413);
    --fade-red: rgba(202, 95, 106, 0.450);
    --main-font-family: 'Lato', sans-serif;
  }

html {
    font-size: 16px;
    font-family: var(--main-font-family);
    color: var(--darkest-blue);
}
.flex-cc {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
h1, h2, h3, h4 {
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
} 
h1 {
    font-size: 2.75rem;
    color: #fff;
    letter-spacing: .5px;
    font-weight: 400;
} 
h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    margin: 0;
}
h3 {
    font-size: 1.75rem;
    font-weight: 300;
    color: var(--main-red);
    margin: 1.5rem 0;
}
h4 {
    font-size: 1.75rem;
    color: var(--bg-blue);
    margin: .75rem 0;
}
p {
    font-weight: 300;
    font-size: 1.35rem;
    line-height: 1.5;
    padding: 1.5rem;
}
a {
    text-decoration: none;
    color: var(--darkest-blue);
    font-family: optima, classico-urw, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
}
.lead-in {
    font-weight: 700;
    padding-top: 0;
}

p .lead-in {
    font-size: 1.35 rem;
}
  .tag-text {
    font-family: optima, classico-urw, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 1rem 0 0 0;
    padding: 0;
    line-height: 1;
  }
  #ph-head {
      color: var(--darkest-blue);
      margin-top: 150px;
  }
  #ph-p {
      width: 50%;
      max-width: 600px;
      min-width: 200px;
      margin: 0 auto;
      text-align: center;
  }
  #ph-p span {
      color: var(--main-red);
  }
  .ph-body {
      background-image: linear-gradient(var(--fade-red), var(--fade-blue-lt));
      background-attachment: fixed;
  }
.grid-wrap {
    max-width: 1300px;
    min-width: 330px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "intro"
    "banner" 
    "loan" 
    "slider-loan"
    "refi"
    "slider-refi"
    "footer";
}
 /* global section images*/
.img-cell {
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    box-shadow:0px 2px 5px var(--fade-blue);
}
  /* section styles */
  #desktop-only {
      display: none;
  }
.banner {
    grid-area: banner;
    position: absolute;
    top: 380px;
    z-index: 1;
    background-color:rgba(255, 255, 255, .9);
    width: 100%;
    max-width: 1300px;
    min-width: 330px;
    margin: 0 auto;
}
.spacer {
    height: 325px;
    background-color: #fff;
    box-shadow: inset 0px 2px 3px var(--fade-blue-lt);
}

.intro-loan-img {
    background-image: url("../images/carrySmIntro.jpg");
    height: 275px;
    background-position: 68% 26%; 
}
.loan-img {
    background-image: url("../images/new_couple.jpg");
    height: 329px;
    background-position: 50% 15%;
}
.refi-img {
    background-image: url("../images/planningcopy.jpg");
    height: 345px;
    background-size: cover;
    background-position: 50% 0px;
}
.home-icon {
    width: 170px;
    z-index: 1;
    display: flex;
    align-self: center;
    position: relative;
    top: 190px;
}
.intro .tagline {
    margin-top: 100px;
}
.divide-jump {
    background-color: var(--bg-red);
    padding: .5rem 3rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.triangle-icon {
  width: 0; 
  height: 0; 
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-top: 28px solid #fff;
}
/* loan - refi components shared area */
.loan h1, .refi h1 {
    padding: 1.25rem .5rem;
    width: 100%;
}
/* loan area */
.loan {
    background-color: var(--fade-blue-lt);
    grid-area: loan;
}
.slider-loan {
    background-color: var(--fade-blue-lt);
    grid-area: slider-loan;
    display: flex;
}
.loan h1 {
    background-color: var(--fade-blue);
}
/* refi area */
.refi {
    background-color: var(--fade-red);
    grid-area: refi;
}
.slider-refi {
    background-color: var(--fade-red);
    grid-area: slider-refi;
    display: flex;
}
.refi h1 {
    background-color: var(--bg-red);
}
input:focus { 
    outline: none !important;

}
/* email form */
.email-form {
    width: 100%;
    max-width: 400px;
}
.email-form .lead-in {
    width: 100%;
    text-align: left;
    padding-bottom: 0;
}
.email-form input {
    background-color: #fff;
    height: 3rem;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    box-shadow: inset 1px 1px 3px #817a7a45;
}
.email-form button, .ph-btn {
    background-color: var(--main-blue);
    color: #fff;
    font-family: var(--main-font-family);
    font-size: 1.35rem;
    font-weight: 400;
    padding: .5rem 1rem;
    width: 90%;
    border-radius: 5px;
    margin: 3rem 1rem;
    box-shadow: 2px 2px 5px #817a7a61;
    border: none;
}
.email-form button:hover {
    background-color: var(--fade-blue-lt);
    color: var(--darkest-blue);
}
.refi .email-form button {
    background-color: var(--main-red);
    box-shadow: 2px 2px 1px #3e0b0f52;
}
.ph-btn {
    display: block;
    width: 175px;
    margin: 0 auto;
    font-size: 1.75rem;
    font-weight: 500;
}
/* flex-c-row class changes from column to row in media query */
.flex-c-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* footer styles  */
footer {
    padding: 2rem 1rem;
    grid-area: footer;
    height: auto;
}
footer ul {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer ul li {
    padding: 1px 15px;

}
footer ul li a, .social-links a img, .email-form button {
    transition: all 300ms ease-in-out;
}
footer ul li a:hover {
    color: var(--main-red);
    font-size: 1.5rem;
    font-weight: bold;
}

.social-links {
    display: flex;
    justify-content: space-between;
}
.social-links img {
    display: flex;
    justify-self: flex-start;
    margin: 10px;
}


.social-links a img:hover {
    transform: scale(1.25);
    border-radius: 50%;
    border: 1px solid var(--main-red);
}
#eho {
    opacity: .5;
}

@media only screen and (min-width:768px) {
    h3 {
        font-size: 2.25rem;
    }
   
    .grid-wrap {
        
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr .65fr min-content;
        grid-template-areas: 
        "loan refi"
        "slider-loan slider-refi"
        "footer footer";
    }
    #desktop-only {
        display: none;
        position: absolute;
        z-index: 2;
        top: -50px;
        left: 50%;
        margin-left: -85px;
        
    }
    .banner {
        top: 360px;
        padding-top: 1rem;
        box-shadow: 0px 2px 5px var(--fade-blue-lt),
        inset 0px 2px 3px var(--fade-blue-lt);
    }
    .intro {
        display: none;
    }
    .loan {
        border-right: 3px solid var(--main-red);
    }
    .refi {
        border-left: 3px solid var(--main-red);
    }

    .flex-c-row {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    footer {
        padding: 0rem 3rem;
    }
    footer .tag-text {
        display: none;
    }

    /*change order of footer items*/
    
    footer ul:nth-of-type(1) {
        order: 2;
    }
    footer img:nth-of-type(1) {
        order: 1;
    }
    footer div:nth-of-type(1) {
        order: 4;
    }
    .loan h1, .refi h1 {
        position: relative;
        top: 10%;
    }

    /*keep layout for larger size*/

    .intro-loan-img {
        height: 475px;
        background-position: 68% 0%; 
    }
    .home-icon {
        top: 375px;
    }
    .spacer {
        height: 345px;
    }
    /*
    .banner {
        top: 560px;
    }*/
    .loan-img {
        height: 630px;
        background-position: 50% 10%;
    }
    .refi-img {
        height: 630px;
    }
    .tag-text {
        font-size: 60px;
    }
}

@media only screen and (min-width:1000px) {
 footer ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }
}
@media only screen and (min-width: 535px) {
    p {
        line-height: 2;
    }
}
@media only screen and (min-width: 355px) {
    .spacer {
        height: 355px;
    }
    .banner {
        padding: 0 5px;
    }
}
